<head>
    <title>About Rico Ngo</title>
</head>
<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<!-- About me section -->
<section class="container py-5 pb-3">
    <div class="py-5 row justify-content-start pb-5 center-about-photo">
        <div class="col-md-5 offset-md-0 text-center ">
            <img class="style-about-photo rounded img-fluid" src="/images/about/rico-profile.JPG" alt="profile-photo">
        </div>
        <div class="col-md-6 offset-md-0 px-5">
            <h1 class="pb-2 py-3 text-center fw-bold text-secondary mt-0">Who am I?</h1>
            <p>I am Rico, a proud dad of a lovely daughter and a Dutchman with Chinese and Vietnamese roots. In my daily life, I am the product principal at <b>AND Digital</b>, where I get to lead a product team & build a new club in Rotterdam, while guiding our clients on how to grow and scale their product ambitions.</p>
            <p>I started my career in Product Management at <b>eVision (Enablon/Wolters Kluwer)</b>, where I got to manage my own team and create a digital solution that was ranked as the best process safety tool by Verdantix in 2019. After that, I decided to pursue a start-up adventure as the product lead at <b>Woov</b>, a live music platform with 1 million+ users. My previous job was a product lead at <b>Euronext</b> for their communication department, where I have built the next-gen webcasting platform and a new product team.</p>
            <p>Living in Rotterdam, I graduated from Rotterdam School of Management (RSM) with a MSc Strategic Management degree and I had the possibility to study in the United States & China as an intern.</p>
            <p>See the projects and products I have worked on in my <a href="portfolio">portfolio</a> section.</p>
        </div>
    </div>

<!-- EJS Worked for overview -->
<%- include("partials/workedfor") -%>

</section>

<!-- Short overview - about me -->
<section class="bg-primary px-5">

    <div class="row py-5">
        <h1 class="text-center text-white mt-0">Who's Rico outside of work?</h1>
    </div>
</section>

<!-- About my hobbies -->
<section class="px-5 pb-5">
    
    <div class="row featurette pt-5">
        <div class="col-md-7">
          <h2 class="featurette-heading">Being a Super Dad. <span class="text-muted">At least I try to be one.</span></h2>
          <p class="lead">I am a proud dad of a beautiful daughter. Spending time with her and traveling around the world are my latest hobbies. In short, I want to be a super dad.</p>
        </div>
        <div class="col-md-5">
        <img src="/images/about/rico-superdad1.jpg" class="rounded bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false" >
        </div>
      </div>
    
      <hr class="featurette-divider2">
    
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Being Curious. <span class="text-muted">About the world and its people.</span></h2>
            <p class="lead">I found myself to be a lucky person to have the ability to see amazing things in the world. Learning about and experiencing other cultures fascinitates me, as it always enriches your perspective on life.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/images/about/rico-travel.JPG" class="rounded bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false" >
    
        </div>
      </div>
    
      <hr class="featurette-divider2">
    
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Videography. <span class="text-muted">Making memories.</span></h2>
          <p class="lead">Ever since I got my first GoPro in 2013, I shoot and edit my own videos. It is a cool way to create everlasting memories.</p>
        </div>
        <div class="col-md-5">
            <img src="/images/about/rico-video.png" class="rounded bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false" >
    
        </div>
      </div>
    
    <hr class="featurette-divider2">
    
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Running. <span class="text-muted">Like there is no tomorrow.</span></h2>
        <p class="lead">I never liked running in the past, but since the first lockdown I had to give it a try to stay in shape. It turned out to be a great sport and it made me pursue a goal that I dreamt was never possible.... running a marathon. Since 2022, I ran and finished my first marathon in the most beautiful city of the Netherlands, Rotterdam.</p>
      </div>
      <div class="col-md-5 order-md-1">
          <img src="/images/about/rico-running.jpeg" class="rounded bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false" >
    
      </div>
    </div>

    <hr class="featurette-divider2">
    
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Climbing. <span class="text-muted">To reach the sky.</span></h2>
        <p class="lead">Same with running, I only recently discovered climbing & boulderingw and I love it. It would be awesome to climb a real mountain once, but for now lets stick to indoor climbing and bouldering. </p>
      </div>
      <div class="col-md-5">
          <img src="/images/about/rico-climbing.jpg" class="rounded bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" preserveAspectRatio="xMidYMid slice" focusable="false" >
  
      </div>
    </div>
    
    </section>

<!-- EJS Messaging Contact -->
<%- include("partials/messaging") -%>

<!-- EJS Footer -->
<%- include("partials/footer") -%>