<head>
    <title>Contact</title>
</head>
<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<!-- Contact section -->

<!-- EJS Messaging Contact -->
<%- include("partials/messaging") -%>

<!-- EJS Worked for overview -->
<%- include("partials/workedfor") -%>

<!-- EJS Footer -->
<%- include("partials/footer") -%>