<head>
    <title>Services</title>
</head>
<%- include("partials/header") -%>
<%- include("partials/navbar") -%>

<!-- About me section -->
<section class="container py-5 pb-3">
    
</section>

<!-- EJS Worked for overview -->
<%- include("partials/workedfor") -%>

</section>
<!-- EJS Messaging Contact -->
<%- include("partials/messaging") -%>

<!-- EJS Footer -->
<%- include("partials/footer") -%>